{% extends "frappe/templates/web.html" %}

{% block title %}{{ _('All Products') }}{% endblock %}

{% block header %}
<h1>{{ _('Products') }}</h1>
{% endblock header %}

{% block page_content %}
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="input-group input-group-sm mb-3">
            <input type="search" class="form-control" placeholder="{{_('Search')}}"
                   aria-label="{{_('Product Search')}}" aria-describedby="product-search"
                   value="{{ frappe.form_dict.search or '' }}">
        </div>
    </div>

</div>

<div class="row product-list">

    {% if items %}
    {% for item in items %}
    {% include "tiparila_ro/www/all-products/item_row.html" %}
    {% endfor %}
    {% else %}
    {% include "tiparila_ro/www/all-products/not_found.html" %}
    {% endif %}

</div>
<div class="row">
    <div class="col-12">
        <br/>
        {% if frappe.form_dict.start|int > 0 %}
        <button class="btn btn-outline-secondary btn-prev" data-start="{{ frappe.form_dict.start|int - page_length }}">
            << {{ _("Prev") }}
        </button>
        {% endif %}
        {% if items|length >= page_length %}
        <button class="btn btn-outline-secondary btn-next" data-start="{{ frappe.form_dict.start|int + page_length }}">
            {{ _("Next") }} >>
        </button>
        {% endif %}
    </div>
</div>

<script>
	frappe.ready(() => {
		$('.btn-prev, .btn-next').click((e) => {
			const $btn = $(e.target);
			$btn.prop('disabled', true);
			const start = $btn.data('start');
			let query_params = frappe.utils.get_query_params();
			query_params.start = start;
			let path = window.location.pathname + '?' + frappe.utils.get_url_from_dict(query_params);
			window.location.href = path;
		});
	});


</script>

{% endblock %}


